# Django settings
SECRET_KEY=django-insecure-fyadikj+!#hwukpu&lw%^njv@1f-@$sz8z)h7f05x!wj*%wnaj
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings (SQLite by default)
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Redis cache
REDIS_URL=redis://127.0.0.1:6379/1

# Email settings
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=noreply@enic-kazakhstan.edu.kz 